.list {
    position: relative;
}

.list [a-n] {
    padding-left: 0;
}

.item {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 8px;
    border: 1px solid var(--Off);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.detail {
    width: -webkit-fill-available;
}

.detail p {
    padding-inline-start: 5px;
    margin-bottom: 10px;
    font-style: italic;
}

.input {
    position: relative;
    margin: auto;
}

.option {
    --color: var(--Off);
    display: block;
    margin: 0 !important;
    width: 24px;
    height: 24px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), inset 0 5px 3px rgba(0, 0, 0, 0.2),
        inset 0 0 0 3px var(--color);
    border-radius: 50%;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 2);
}

.multiple {
    --color: var(--Off);
    --size: 24px;
    display: block;
    margin: 0 !important;
    width: var(--size);
    height: var(--size);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), inset 0 5px 3px rgba(0, 0, 0, 0.2),
        inset 0 0 0 3px var(--color);
    border-radius: 4px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.5, 0, 0.5, 2);
}

.multiple::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    height: var(--size);
    width: var(--size);
    background-color: var(--color);
    border-radius: 50%;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-in-out;
    transition-delay: 0.4s;
}

.item.active {
    background-color: var(--BackgroundPrimary);
    border: 1px solid var(--ActivePrimary);
}
.item.active .detail label {
    font-weight: bold;
}
.item.active .option, .item.active .multiple {
    transform: scale(1.2);
    --color: var(--ActivePrimary);
    transition-delay: 0.4s;
}

.item.active .multiple::after {
    transform: scale(0.4);
}

.indicator {
    opacity: 0;
}

.indicator div {
    position: absolute;
    z-index: 1;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
    transition: all 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    transition-delay: calc(1s * var(--delay));
    --offset: 69px;
}

.indicator div {
    transform: translateY(0px);
}

#two:checked~.indicator div {
    transform: translateY(48px);
}

#three:checked~.indicator div {
    transform: translateY(96px);
}

.indicator div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color);
    border-radius: 50%;
    --color: var(--ActivePrimary);
}